CMakeCache.txt
CMakeFiles
cmake_install.cmake
meteo
pub_meteo
sub_meteo
libyocto.so
libmessage.so
libcommon.so
libpublisher.so
libsubscriber.so
CTestTestfile.cmake
Makefile
*.pyc
*.pb.*
*.swp
data
*.log
